---
layout: default
title: Blog
---

<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Douglas Smith</title>
    <link rel="stylesheet" href="assets/css/styles.css">
</head>
<body>
    <a href="/">
        <img src="assets/doug_pic.png" alt="">
    </a>
    <h1>Douglas Smith</h1>
    <hr>
    <div class="site-links">
        <a href="about.html" class="fancy-link">About</a>
        <a href="blog.html" class="fancy-link">Blog</a>
        <a href="/uses" class="fancy-link">Uses</a>
        <a href="contact.html" class="fancy-link">Contact</a>
    </div>
    <br>
    <div class="post-list">
        <ul>
          {% for post in site.posts %}
            <div class="post">
              <h2>
                <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
              </h2>
              <p class="post-meta">
                Published on: {{ post.date | date: "%B %-d, %Y" }}
                {% assign words = post.content | number_of_words %}
                | Reading time: {% if words < 360 %}1 min{% else %}{{ words | divided_by:180 }} mins{% endif %}
                | Word count: {{ words }}
              </p>
              <p>{{ post.excerpt }}</p>
            </div>
          {% endfor %}
        </ul>
    </div>
</body>
</html>
