* {
  box-sizing: border-box;
}

body {
    /* background-color: #38322b;
    color: #ccb7a7; */
    background-color: #1c1c1c;
    color: #bfbbbb;
    text-align: center;
    padding-top: 60px;
    font-size: 18px;
}

.my-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-links > * {
    margin: 5px;
}

img {
    border-radius: 12px;
    height: 200px;
}

.brief-info {
    width: 45%;
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    max-width: 100%;
}

@media screen and (max-width: 600px) {
    .brief-info {
        width: 90%;
    }
}

a:link, a:visited {
    text-decoration: underline;
    font-weight: normal;
    font-size: inherit;
    color: white;
    text-decoration-color: cyan;
    text-decoration-thickness: 2px;
}

.site-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-links > * {
    margin-left: 10px;
    margin-right: 10px;
}

hr {
    width: 30%;
}

h1 { 
    padding: 0;
    margin: 4px;
    margin-top: 6px;
}


.fancy-link {
    box-shadow: inset 0 0 0 0 cyan;
    color: white;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.fancy-link:hover {
    box-shadow: inset 100px 0 0 0 #54b3d6;
    color: white;
    text-decoration-color: white;
}


.post {
    border-style: solid;
    border-color: cyan;
    border-width: 0px;
    border-left-width: 6px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 0px;
    width: 50%;
    text-align: left;
    justify-content: center;
    padding-left: 30px;
}

.contact {
    width: 40%;
    display: flex;
    margin: auto;
    align-items: center;
    text-align: center;
}

.contact-center {
    display: flex;
    margin: auto;
    align-items: center;   
}

.contact-phrase {
    width: 60%;
}

.contact-list {
    display: block;
    margin: auto;
    align-items: center;
}

.contact-list > * {
    padding: 0px;
    margin-bottom: 12px;
}


.brief-info {
  text-align: left;
  max-width: 700px;
  margin: auto;
}
.brief-info ul {
  padding-left: 1.5em;
}


h2 {
  position: relative;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
}

h2::after {
  content: "";
  display: block;
  width: 75%;
  height: 2px;
  background: linear-gradient(to right, #333, transparent);
  position: absolute;
  left: 0;
  bottom: 0;
}


h4 {
  margin-bottom: -0.2em; /* adjust as needed */
}
